.modal.fade.show(id="modal", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content(*ngIf="!serviceResponse.success")
      .modal-header
        h5.modal-title(*ngIf="!copyIG && !editIG") {{ 'NEW_GROUP_MODAL.CREATE_TITLE' | translate }}
        h5.modal-title(*ngIf="copyIG") {{ 'NEW_GROUP_MODAL.COPY_TITLE' | translate }}
        h5.modal-title(*ngIf="editIG") {{ 'NEW_GROUP_MODAL.EDIT_TITLE' | translate }}
        button.close((click)="closeModal.emit()", type="button", aria-label="Close")
          span(aria-hidden="true") &times;
      form#newIgForm([formGroup]="newIgForm", (ngSubmit)="igFormSubmit(newIgForm.value)")
        .modal-body
          .form-group
            label(for="igTitleInput") {{ 'NEW_GROUP_MODAL.TITLE_FIELD_LABEL' | translate }}
            input#igTitleInput.form-control(type="text", [formControl]="newIgForm.controls['title']", placeholder="Give your image group a title...", spellcheck="false", tabindex="0")
            .has-danger(*ngIf="submitted && newIgForm.controls['title'].hasError('required')")
              p.form-control-feedback {{ 'NEW_GROUP_MODAL.TITLE_REQUIRED_MSG' | translate }}
          .form-group
            label(for="igDescription") {{ 'NEW_GROUP_MODAL.DESCRIPTION_FIELD_LABEL' | translate }}
            medium-editor(
              [(editorModel)]="igDescription",
              [editorOptions]="{ 'toolbar': {'buttons': ['bold', 'italic', 'underline', 'h1', 'h2', 'h3']}, 'autoLink': true}",
              [editorPlaceholder]="'Give your image group a description...'")
          //- Left this out of the div so that it remained left aligned...
          label(for="artstorPermissionsGroup") {{ 'NEW_GROUP_MODAL.PERMISSION_FIELD_LABEL' | translate }}
          .form-group.text-center
            #artstorPermissionsGroup.btn-group(ngbRadioGroup, name="permissions type", [formControl]="newIgForm.controls['artstorPermissions']")
              label.btn.btn-secondary(ngbButtonLabel, *ngIf="isArtstorUser")
                input#artstorPermissionsRadioGlobal(ngbButton, type="radio", name="options", autocomplete="off", value="global")
                | {{ 'NEW_GROUP_MODAL.PERMISSIONS.GLOBAL' | translate }}
              label.btn.btn-secondary(ngbButtonLabel)
                input#artstorPermissionsRadioInstitution(ngbButton, type="radio", name="options", autocomplete="off", value="institution")
                | {{ 'NEW_GROUP_MODAL.PERMISSIONS.INSTITUTIONAL' | translate }}
              label.btn.btn-secondary(ngbButtonLabel)
                input#artstorPermissionsRadioPrivate(ngbButton, type="radio", name="options", autocomplete="off", value="private")
                | {{ 'NEW_GROUP_MODAL.PERMISSIONS.PRIVATE' | translate }}
          .form-group([class.has-danger]="serviceResponse.failure")
            label(for="igTagInput") {{ 'NEW_GROUP_MODAL.TAGS_FIELD_LABEL' | translate }}
            ngx-tag-input#igTagInput(
              [formControl]="newIgForm.controls['tags']",
              placeholder="Add a tag...",
              [addOnBlur]="true",
              [addOnEnter]="true",
              [autocompleteSelectFirstItem]="false",
              [autocomplete]="true",
              [autocompleteItems]="tagSuggestions",
              [autocompleteMustMatch]="false",
              (keyup)="getTagSuggestions($event)")
            .form-control-feedback(*ngIf="serviceResponse.failure") {{ 'NEW_GROUP_MODAL.CREATE_FAILURE' | translate }}
          .link(*ngIf="showAddToGroup", (click)="addToGroup.emit()") {{ 'NEW_GROUP_MODAL.SHOW_ADD_TO_IMAGE_GROUP' | translate }}
        .modal-footer
          button.btn.btn-secondary(type="button", (click)="closeModal.emit()") {{ 'NEW_GROUP_MODAL.CONTROLS.CLOSE' | translate }}
          button.btn.btn-primary(type="submit", [class.loading]="isLoading") {{ 'NEW_GROUP_MODAL.CONTROLS.SAVE_EDIT' | translate }}
    .modal-content(*ngIf="serviceResponse.success && !editIG")
      .modal-header
        h5.modal-title Image group created
        button.close((click)="closeModal.emit()", type="button", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p
          b {{newGroup.name}}
          |  created
      .modal-footer
        button.btn.btn-secondary((click)="closeModal.emit()", type="button") {{ 'NEW_GROUP_MODAL.CONTROLS.RETURN_TO_RESULTS' | translate }}
        button.btn.btn-primary([routerLink]="['/group', newGroup.id]", type="button") {{ 'NEW_GROUP_MODAL.CONTROLS.NAV_TO_GROUP' | translate }}
    .modal-content(*ngIf="serviceResponse.success && editIG")
      .modal-header
        h5.modal-title Image group saved
        button.close((click)="closeModal.emit()", type="button", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p
          b {{newGroup.name}}
          |  updated
      .modal-footer
        .form-group
          button.btn.btn-primary((click)="refreshIG()", type="button") Refresh image group
