.collection-badge.my-1(
  [ngbTooltip]="tipContent",
  ngbTooltip,
  container="body",
  triggers="focusin:focusout mouseenter:mouseleave",
  placement="right",
  aria-haspopup="true",
  [attr.aria-label]="collectionType.alt",
  tabindex="0"
) {{ collectionType.badgeText }}
<ng-template #tipContent>
  div([innerHtml]="collectionType.alt")
</ng-template>
  //- ang-tooltip(data-tooltip)
