div.drop-tray(@trayAnimation)
  .container
    .wrapper
      img.logo(src="/assets/img/Artstor_JSTOR.svg", alt="Artstor JSTOR Logo")
      div.separator-container
            div.banner-separator-top
            div.banner-separator-bottom
      div.mainContent
        h1([innerHtml]="'The Artstor website will be retired on August 1, 2024.' | translate")
        div.copy
        span([innerHtml]="'If you have image groups on Artstor, they will be automatically copied over to your ' | translate")
        a.link(id="banner-copy-group-link", (click)="bannerCopyGroup()", [innerHtml]="'JSTOR Workspace' | translate")
        span([innerHtml]="'   in January 2024. ' | translate")
        a.link(id="banner-read-more",(click)="readMore()", [innerHtml]="'Learn more about the Artstor to JSTOR migration' | translate")
        span([innerHtml]="'.' | translate")
      button.try-now((click)="searchNow()",
      [innerHtml]="'Search for images on JSTOR' | translate",
      id="drop-down-try-now",
      data-sc="post-login-drop-down")
