div.drop-tray(@trayAnimation)
  .container
    .wrapper
      img.logo(src="/assets/img/Artstor_JSTOR.svg", alt="Artstor JSTOR Logo")
      div.separator-container
            div.banner-separator-top
            div.banner-separator-bottom
      div.mainContent
        h1([innerHtml]="'The Artstor website will be retired on August 1, 2024' | translate")
        div.copy
        span([innerHtml]="'Artstor&apos;s high-quality collections and key functionality are now on JSTOR. If you have image groups on Artstor, they were ' | translate")
        a.link(id="banner-copy-group-link", (click)="bannerCopyGroup()", [innerHtml]="'copied to your JSTOR Workspace in February 2024' | translate")
        span([innerHtml]="'. ' | translate")
        br
        br
        span([innerHtml]="'Get started with images on JSTOR: ' | translate")
        a.link(id="webinar-link", (click)="webinarLink()", [innerHtml]="' Register for a training webinar on April 25' | translate")
        span([innerHtml]="'. ' | translate")
      button.try-now((click)="searchNow()",
      [innerHtml]="'Explore Artstor on JSTOR' | translate",
      id="drop-down-try-now",
      data-sc="post-login-drop-down")
