div
  nav-menu([allowSelectAll]="true", [actionOptions]="{group: true}", (refreshIG)="refreshIG()", [allowIgUpdate]="allowIgUpdate", [genImgGrpLink]="genImgGrpLink", [disableIgDelete]="disableIgDelete", [ig]="ig")
  #mainContent.container.main-content(tabindex="-1")
    .row.no-gutters.row--search-bar
      .col-md-5
        ang-search
    ang-group-title([ig]="ig")
    .row 
      .col-md-12
        ang-asset-grid([actionOptions]="actionOptions", (reordering)="toggleReorder($event)", [igMetaData]="ig")
        .alert.alert-warning(*ngIf!="ig.items && ig.items.length > 0 && !ig.thumbnails")
          b Error Loading
          = " "
          | Unable to load the thumbnails for this group.

ang-google-auth(*ngIf="showGoogleAuth", (closeModal)="closeGoogleAuth($event)")
ang-export-loading-state(*ngIf="showExportLoadingState", [options]="exportLoadingStateopts", (closeModal)="showExportLoadingState = false")
ang-terms-and-conditions(*ngIf="showTermsConditions", [exportType]="exportType", (closeModal)="handleTCModalClose($event)", [ig]="ig")
ang-ig-download-modal(*ngIf="showPptModal", (closeModal)="showPptModal = false", [ig]="ig")
ang-download-limit-modal(*ngIf="showDownloadLimitModal", (closeModal)="showDownloadLimitModal = false", [ig]="ig")
ang-login-req-modal(*ngIf="showLoginModal", (closeModal)="showLoginModal = false")
ang-no-ig-modal(*ngIf="showNoIgModal || showNoAccessIgModal", [noAccessIg]="showNoAccessIgModal", (closeModal)="showNoIgModal = false")
ang-access-denied-modal(*ngIf="showAccessDeniedModal")
