.reorder-shade([class.fade-in]="reorderMode && !showLoseReorder", (click)="shouldSaveModal($event)")
.reorder-wrap([class.in-front]="reorderMode")
  .row.no-gutters
    .mobile--hide.grid-tool-bar([ngClass]="[ reorderMode ? 'col-12' : 'col-sm-8 col-md-8 col-lg-9']")
      .row.no-gutters
        .col-12
          ng-container(*ngIf="!reorderMode")
            li.sortlist.dropdown(*ngIf="!actionOptions.associated && !actionOptions.group", ngbDropdown)
              button#sortdropdownMenu.btn.btn-link(ngbDropdownToggle) Sort:
                = " "
                span.value {{ activeSort.label ? activeSort.label : 'Relevance' }}
              .dropdown-menu(ngbDropdownMenu, aria-labelledby="sortdropdownMenu")
                button.dropdown-item([ngClass]="{ 'disable': activeSort.index == '1' }", (click)="changeSortOpt('1', 'Title')") Title
                button.dropdown-item([ngClass]="{ 'disable': activeSort.index == '2' }", (click)="changeSortOpt('2', 'Creator')") Creator
                button.dropdown-item([ngClass]="{ 'disable': activeSort.index == '3' }", (click)="changeSortOpt('3', 'Date')") Date
                button.dropdown-item([ngClass]="{ 'disable': activeSort.index == '4' }", (click)="changeSortOpt('4', 'Recently Added')") Recently Added
                button.dropdown-item([ngClass]="{ 'disable': activeSort.index == '0' }", (click)="changeSortOpt('0', 'Relevance')") Relevance
            li.pagesizelist.dropdown(ngbDropdown)
              button#pagesizedropdownMenu.btn.btn-link(ngbDropdownToggle) Images/page:
                = " "
                span.value {{ pagination.size ? pagination.size : '24' }}
              .dropdown-menu(ngbDropdownMenu, aria-labelledby="pagesizedropdownMenu")
                button.dropdown-item([ngClass]="{ 'disable': pagination.size == 24 }", (click)="changePageSize(24)") 24
                button.dropdown-item([ngClass]="{ 'disable': pagination.size == 48 }", (click)="changePageSize(48)") 48
                button.dropdown-item([ngClass]="{ 'disable': pagination.size == 72 }", (click)="changePageSize(72)") 72
            .icon-bar
              .icon--toggle((click)="setThumbnailSize(false)", [ngClass]="{ 'active': !largeThmbView }")
                i.icon.icon-small-view
              .icon--toggle((click)="setThumbnailSize(true)", [ngClass]="{ 'active': largeThmbView }")
                i.icon.icon-large-view
            //- Download
            li.btn.btn-link([class.disabled]="reorderMode", (click)="_ig.triggerIgDownload()", *ngIf="actionOptions.group")
              i.icon.icon-download-white
              | Download
            //- Select
            li.btn.btn-link([class.disabled]="reorderMode", (click)="toggleEditMode()", [ngClass]="{'active': editMode}")
              i.icon.icon-select-white
              | Select
            //- Reorder
            li.btn.btn-link((click)="toggleReorderMode()", [ngClass]="{'active': reorderMode}", *ngIf="actionOptions.group && actionOptions.isowner")
              i.icon.icon-reorder-white
              | Reorder
          //- Save Order
          li.btn.btn-link(*ngIf="reorderMode", [class.disabled]="!orderChanged", (click)="saveReorder()")
            i.icon.icon-reorder-white
            | Save Order
          //- Cancel Reorder
          li.btn.btn-link(*ngIf="reorderMode", (click)="cancelReorder()")
            i.icon.icon-close-white--round
            | Cancel Reorder
          //- Number of selected assets in edit mode
          .selected-assets(*ngIf="editMode") {{ selectedAssets.length }} selected asset{{ selectedAssets.length > 1 ? 's' : '' }}
        .col-12.pb-3
          //- View size toggles
          .number-results(*ngIf="!isLoading") 
            span.font-weight-bold {{ totalAssets }}{{ totalAssets == 2000 ? '+' : '' }} results
            = " "
            span(*ngIf="searchTerm") for
              = " "
              span([innerHtml]="formattedSearchTerm")
              span(*ngIf="siteID!='SAHARA' && _auth.isPublicOnly()", [innerHtml]="'HOME.CONTENT_ACCESS.SEARCH_PAGE_PUBLIC' | translate")
              span(*ngIf="siteID!='SAHARA' && !_auth.isPublicOnly()", [innerHtml]="'HOME.CONTENT_ACCESS.SEARCH_PAGE_USER' | translate")
              span(*ngIf="siteID=='SAHARA'", [innerHtml]="'HOME.CONTENT_ACCESS.SEARCH_PAGE_SAHARA' | translate")
            = " "
            span.font-weight-bold(*ngIf="excludedAssetsCount") {{ excludedAssetsCount }} results
            = " " 
            span(*ngIf="excludedAssetsCount") have no date and were excluded.
          
    .col-sm-4.col-md-4.col-lg-3.text-right.grid-pagination-bar(*ngIf="!reorderMode")
      pagination([pageObj]="pagination", (goToPage)="goToPage($event)", [right]="true")
  //- Thumbnail Grid
  .row.pb-5([ngClass]="{'edit': editMode}")
    .col-md-12.col--thumbnails.col--expanding.has-icon-overlay([ngClass]="{ 'col--expand-12' : !showFilters }")
      i.icon-lg.icon-overlay.icon-loading-large([hidden]="!isLoading")
      //- Error Row
      div
        //- Restricted assets warning message
        .alert.alert-warning(*ngIf="restricted_results && restricted_results.length > 0")
          | {{ "BROWSE.WARNINGS.RSTD_IMGS" | translate }}
          ng-container(*ngIf="ig.owner_id == user.baseProfileId")
            div.mt-4 As the <b>Owner</b> of this group, would you like to remove the deleted images?
            a.mt-2.btn.btn-secondary.btn-sm(tabindex="0", (click)="removeFromGroup(restricted_results)") Remove deleted images
        .alert.alert-warning(*ngIf="!isLoading && (totalAssets == '0') && (!results || results.length < 1) && (searchError.length < 1) && !searchLimitError")
          b Unable to find any assets
          br
          | A less specific query might be able to find what you are looking for.
        .alert.alert-danger(*ngIf="!isLoading && (searchError.length > 0) && !searchLimitError")
          | {{ searchError }}
      //- Display Thumbnails
      #assetThumbnailsRow.row.no-gutters(*ngIf="!reorderMode")
        div.selection(
            [ngClass]="largeThmbView ? 'col-sm-12 col-md-6 col-lg-4' : 'col-sm-6 col-md-3 col-lg-2'", 
            *ngFor="let asset of results", 
            [class.hidden]="asset.status == 'not-available'"
          )
          .mobile--hide
            input.check(type="checkbox", [checked]="isSelectedAsset(asset) > -1", [ngStyle]="{ 'display': isSelectedAsset(asset) > -1 ? 'block' : 'none' }", (change)="editMode = true; selectAsset(asset);")
          .mobile--show
            input.check-mobile(type="checkbox", [checked]="isSelectedAsset(asset) > -1", (change)="editMode = true; selectAsset(asset);")
          a.card.card--asset([attr.data-id]="asset.objectId", [ngClass]="{'selected': ( isSelectedAsset(asset) > -1 ), 'lrgThmb': largeThmbView }", (click)="selectAsset(asset, $event)", (focus)="showBox($event)", (blur)="hideBox($event)", [attr.href]="constructNavigationCommands(asset)")
            ang-thumbnail([thumbnail]="asset", [reorderMode]="reorderMode", [editMode]="editMode", [largeThmbView]="largeThmbView")
        .alert.alert-warning(*ngIf="!isLoading && (searchError.length < 1) && ((isPartialPage && hasMaxAssetLimit) || searchLimitError)")
          | {{ "BROWSE.WARNINGS.ADDITIONAL_RESULTS" | translate }}
      //- Sortable Thumbails
      #assetThumbnailsRow.row.no-gutters(*ngIf="reorderMode", dnd-sortable-container, [sortableData]="allResults")
        ng-container(*ngFor="let asset of results; let i = index")
          //- Show thumbnails for only available assets
          .col-sm-4.col-md-2.col-lg-1.draggable(*ngIf="asset.status === 'available'", dnd-sortable, [dragEnabled]="reorderMode && !isLoading", [sortableIndex]="i", (onDragEnd)="orderChanged = true")
            .card.card--asset([ngClass]="{ 'lrgThmb': largeThmbView }")
              ang-thumbnail([thumbnail]="asset", [reorderMode]="reorderMode", [editMode]="editMode", [largeThmbView]="largeThmbView")
        .alert.alert-warning(*ngIf="!isLoading && (searchError.length < 1) && ((isPartialPage && hasMaxAssetLimit) || searchLimitError)")
          | {{ "BROWSE.WARNINGS.ADDITIONAL_RESULTS" | translate }}
  .row
    ang-prompt(*ngIf="_auth.isPublicOnly() && searchTerm", style='width:100%; margin-top:36px; margin-bottom:20px;')
  .row
    .mobile--hide.grid-tool-bar([ngClass]="[ reorderMode ? 'col-12' : 'col-sm-8 col-md-8 col-lg-9']")
    .col-sm-4.col-md-4.col-lg-3.text-right.grid-pagination-bar(*ngIf="!reorderMode")
      pagination([pageObj]="pagination", (goToPage)="goToPage($event)", [right]="true")
ang-confirm-modal(*ngIf="showLoseReorder", (closeModal)="ditchingReorder($event)", title="Exit Reordering", description="You have made changes to your group\'s order. Do you want to save them?", dismiss="Cancel", secondary="Discard Changes", primary="Save Changes")
