//- nav.nav.nav-inline.browse-nav
  //- a.label Browse By:
  //- a.nav-link(*ngFor="let browseOpt of groupFilterArray", [ngClass]="{'active': browseOpt.level == route.snapshot.params.view}", [routerLink]="['/browse', 'groups', browseOpt.level]", (click)="browseOpt.level === 'search' ? firstSearch = true : firstSearch = false")
  //-   div(*ngIf="browseOpt.level !== 'all'") {{ browseOpt.label }}
.row.pt-3#browse-group-wrap
  .col-md-3.hidden-sm-down
    //- .filter-list-wrap
    //- The #searchFilterList id is important for the tour to find it, be careful when removing or changing it
    #searchFilterList.mb-3.filter-list
      h3.pt-2 Groups
      hr
      div(*ngFor="let filter of groupFilterArray")
        button.filter.filter--tag(
            [ngClass]="{ 'child' : filter.level==='private' || filter.level==='shared_by_me', 'group-filter': !(filter.level==='private' || filter.level==='shared_by_me') }",
            (click)="setSearchLevel(filter.level, true)",
            [class.active]="filter.selected",
            [attr.title]="'Filter by ' + filter.label + ' image groups'"
          )
          | {{ filter.label }}
    ang-tags-list(*ngIf="selectedFilter")
  .col-md-9
    .row#search-row
      .col-sm-9
        ang-general-search([updateSearchTerm]="updateSearchTerm", [init]="searchTerm", (executeSearch)="addQueryParams({ term: $event }, false, true)")
      .col-sm-3(*ngIf="showCardView")
        ang-guide-tour([steps]="steps")
    h3.pb-1.px-2 {{ selectedFilter.label }}
      pagination([pageObj]="pagination", (goToPage)="goToPage($event)", [right]="true")
    h3.pb-1.px-2(*ngIf="_tagFilters.selectedFilters.length>0") Tags:
      .filter.filter--aboveGroup(*ngFor="let tag of _tagFilters.selectedFilters", (click)="tag.selected = !tag.selected", [class.active]="tag.selected")
        span.notranslate {{ tag.key }} ({{ tag.doc_count }})
        i.icon.icon-add
        i.icon.icon-close
      a#groupTagsClear.link--accent.small(*ngIf="_tagFilters.selectedFilters.length>1", tabindex="", style="margin:3px;", (click)="_tagFilters.clearFilters();") Clear All
    .group-list.has-icon-overlay.px-2
      .alert.alert-warning(*ngIf="selectedFilter && errorObj[selectedFilter.level]", [innerHtml]="errorObj[selectedFilter.level]")
      ng-container(*ngIf="showCardView")
        ang-card-view(*ngFor="let tag of tags; let i=index;", [tag]="tag", [group]="groups[i]", [browseLevel]="selectedFilter.level", link="true")
      ng-container(*ngIf="!showCardView")
        ang-tag(*ngFor="let tag of tags", [tag]="tag", link="true")
.row.has-icon-overlay(*ngIf="loading")
  i.icon-lg.icon-overlay--top.icon-loading-large
// Don't show this if there is a filters list, if it's loading, or if the user hasn't searched for anything yet
.alert.alert-info(*ngIf="tags.length < 1 && !loading")
  h3 {{ 'BROWSE.ERRORS.NO_GROUPS_COLLECTIONS_HEADING' | translate }}
  br
  div(*ngIf="selectedFilter && selectedFilter.level === 'created'", [innerHtml]="'BROWSE.ERRORS.NO_PRIVATE_GROUPS_COLLECTIONS_PROMPT' | translate")
  div(*ngIf="selectedFilter && selectedFilter.level === 'institution'", [innerHtml]="'BROWSE.ERRORS.NO_INSTITUTIONAL_GROUPS_COLLECTIONS_PROMPT' | translate")
ang-access-denied-modal(*ngIf="showAccessDeniedModal")

