.modal.fade.show(id="modal", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title {{ copySelectionStr + '.TITLE' | translate }}
        button.close((click)="closeModal.emit()", type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      form(#igForm="ngForm", (ngSubmit)="submitGroupUpdate(igForm)")
        .modal-body
          .link(*ngIf="showCreateGroup", (click)="createGroup.emit()") {{ copySelectionStr + '.OPEN_CREATE_GROUP_MODAL' | translate }}
          br
          .form-group([class.has-success]="serviceResponse.success", [class.has-danger]="serviceResponse.failure")
            label(for="selectImageGroup") {{ copySelectionStr + '.SELECT_PROMPT' | translate }}
            ng2-completer.notranslate([(ngModel)]="selectedGroupName", name="imageGroup",
              (keyup)="sortGroup($event, selectedGroupName)",
              [datasource]="dataService",
              [minSearchLength]="0",
              [openOnFocus]="true",
              [placeholder]="'Type to search...'",
              [textSearching]="'Searching Groups...'",
              [clearUnselected]="true")
            #successMessage.form-text.text-success(*ngIf="serviceResponse.success") {{  copySelectionStr + '.ADD_SUCCESS' | translate}}
            #errorMessageUpdateFailure.form-text.text-danger(*ngIf="serviceResponse.failure") {{  copySelectionStr + '.ADD_FAILURE' | translate}}
            #errorMessageTooManyAssets.form-text.text-danger(*ngIf="serviceResponse.tooManyAssets") {{  copySelectionStr + '.TOO_MANY_ASSETS' | translate}}
            .form-text.text-warning(*ngIf="selectedGroupError") {{ selectedGroupError | translate }}
        .modal-footer
          .form-group(*ngIf="!serviceResponse.success")
            a.btn.btn-link.with-pad(href="http://support.artstor.org/?article=create-and-manage-image-groups", target="_blank") {{ 'ADD_TO_GROUP_MODAL.CONTROLS.HELP' | translate }}
            = " "
            button.btn.btn-secondary((click)="closeModal.emit()", type="button", data-dismiss="modal", style="margin-right: 5px;") {{ 'ADD_TO_GROUP_MODAL.CONTROLS.CLOSE' | translate}}
            = " "
            button.btn.btn-primary(type="submit") {{ 'ADD_TO_GROUP_MODAL.CONTROLS.SAVE' | translate }}
          .form-group(*ngIf="serviceResponse.success")
            a.btn.btn-link.with-pad(href="http://support.artstor.org/?article=create-and-manage-image-groups", target="_blank") {{ 'ADD_TO_GROUP_MODAL.CONTROLS.HELP' | translate}}
            = " "
            button.btn.btn-primary((click)="closeModal.emit()", [routerLink]="['/group', selectedIg.id]", type="button", style="margin-right: 5px;") {{ 'ADD_TO_GROUP_MODAL.CONTROLS.NAV_TO_GROUP' | translate}}
            = " "
            button.btn.btn-secondary((click)="closeModal.emit()", type="button") {{ 'ADD_TO_GROUP_MODAL.CONTROLS.RETURN_TO_RESULTS' | translate}}
