.cover([class.show]="!mobileCollapsed")
.container.nav-container
  nav.navbar.navbar-expand-sm.navbar-light.bg-faded
    div
    button.navbar-toggler((click)="this.mobileCollapsed = !this.mobileCollapsed", [class.collapsed]="mobileCollapsed", type="button", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navMenu.navbar-collapse.collapse([class.show]="!mobileCollapsed")
      ul.nav.navbar-nav
        li.nav-item
          a.btn.btn-link([routerLink]="['/home']", routerLinkActive="active") {{ 'NAV_MENU.HOME' | translate }}
        li.nav-item(ngbDropdown, (mouseenter)="openDrop($event, drop1)", (mouseleave)="closeDrop($event, drop1)", #drop1="ngbDropdown")
          button#dropdownMenu1.btn.btn-link(ngbDropdownToggle) {{ 'NAV_MENU.COLLECTIONS.TITLE' | translate }}
          .dropdown-menu(ngbDropdownMenu, aria-labelledby="dropdownMenu1")
            button.dropdown-item(*ngIf="browseOpts.artstorCol", [routerLink]="['/browse', 'library']") {{ 'NAV_MENU.COLLECTIONS.ARTSTOR' | translate }}
            button.dropdown-item(*ngIf="browseOpts.instCol", [routerLink]="['/browse', 'institution']") {{ 'NAV_MENU.COLLECTIONS.INSTITUTION' | translate }}
            button.dropdown-item(*ngIf="browseOpts.openCol", [routerLink]="['/browse', 'commons']") {{ 'NAV_MENU.COLLECTIONS.OPEN' | translate }}
            button.dropdown-item(*ngIf="browseOpts.myCol", [routerLink]="['/browse', 'mycollections']") {{ 'NAV_MENU.COLLECTIONS.OWNED' | translate }}
            button.dropdown-item(*ngIf="browseOpts.igs", [routerLink]="['/browse','groups', defaultGrpBrwseBy]") {{ 'NAV_MENU.COLLECTIONS.GROUPS' | translate }}
        li.nav-item(ngbDropdown, (mouseenter)="openDrop($event, drop2)", (mouseleave)="closeDrop($event, drop2)", #drop2="ngbDropdown")
          button#organizeMenu.btn.btn-link(ngbDropdownToggle) {{ 'NAV_MENU.ORGANIZE.TITLE' | translate }}
          .dropdown-menu(ngbDropdownMenu, aria-labelledby="organizeMenu")
            // Active on Image Group Page
            button.dropdown-item((click)="_analytics.directCall('select_all'); selectAllInAssetGrid()", [class.disabled]="!allowSelectAll || !user.isLoggedIn") {{ 'NAV_MENU.ORGANIZE.SELECT_ALL' | translate }}
            button#btnSaveToNewGroup.dropdown-item([class.disabled]="selectedAssets.length < 1 || !user.isLoggedIn", (click)="copyIG = false; editIG = false; showImageGroupModal = true;") {{ 'NAV_MENU.ORGANIZE.NEW_GROUP' | translate }}
            button#btnSaveToExistingGroup.dropdown-item([class.disabled]="selectedAssets.length < 1 || !user.isLoggedIn", (click)="showAddToGroupModal = true;") {{ 'NAV_MENU.ORGANIZE.EXISTING_GROUP' | translate }}
            button#btnDeleteFromGroup.dropdown-item(*ngIf="params['igId']", [class.disabled]="selectedAssets.length < 1 || !allowIgUpdate", (click)="showConfirmationModal = true") {{ 'NAV_MENU.ORGANIZE.DELETE_SELECTIONS' | translate }}
            button#btnDeselectImages.dropdown-item([class.disabled]="selectedAssets.length < 1 || !user.isLoggedIn", (click)="_analytics.directCall('deselect_all'); _assets.setSelectedAssets([])") {{ 'NAV_MENU.ORGANIZE.DESELECT' | translate }}
            .dropdown-divider
            // Active on Image Group Page
            button#btnEditGroup.dropdown-item([disabled]="!actionOptions.group || !allowIgUpdate", (click)="editIG = true; copyIG = false; showImageGroupModal = true;") {{ 'NAV_MENU.ORGANIZE.EDIT' | translate }}
            button#btnSaveGroupAs.dropdown-item([disabled]="!actionOptions.group  || !user.isLoggedIn", (click)="copyIG = true; editIG = false; showImageGroupModal = true;") {{ 'NAV_MENU.ORGANIZE.SAVE' | translate }}
            button#btnDeleteGroup.dropdown-item([disabled]="!actionOptions.group || !allowIgUpdate", (click)="deleteIgModal = true") {{ 'NAV_MENU.ORGANIZE.DELETE_GROUP' | translate }}
        li.nav-item(ngbDropdown, (mouseenter)="openDrop($event, drop3)", (mouseleave)="closeDrop($event, drop3)", #drop3="ngbDropdown")
          button#shareMenu.btn.btn-link(ngbDropdownToggle) {{ 'NAV_MENU.SHARE.TITLE' | translate }}
          .dropdown-menu(ngbDropdownMenu, aria-labelledby="shareMenu")
            button.dropdown-item([class.disabled]="selectedAssets.length !== 1", (click)="_analytics.directCall('generate_img_link'); showShareLinkModal = true") {{ 'NAV_MENU.SHARE.GENERATE_IMAGE_LINK' | translate }}
            // Active on Image Group Page
            button.dropdown-item([disabled]="!actionOptions.group || !genImgGrpLink", (click)="_analytics.directCall('generate_img_group_link'); showShareIgModal = true") {{ 'NAV_MENU.SHARE.GENERATE_GROUP_LINK' | translate }}
            // Active on Image Group Page
            button.dropdown-item([disabled]="!actionOptions.group", (click)="_analytics.directCall('print_img_group'); printImageGroupPage()") {{ 'NAV_MENU.SHARE.PRINT_GROUP' | translate }}
            // Active on Image Group Page
            button.dropdown-item(*ngIf="params['igId']", (click)="_ig.triggerIgDownload()") {{ 'NAV_MENU.SHARE.DOWNLOAD_GROUP' | translate }}
        li.nav-item
          a#viewMenu.btn.btn-link(href="//support.artstor.org", target="_blank") Support
        li.nav-item(*ngIf="!mobileCollapsed")
          a.link--accent((click)="logout()", *ngIf="user.isLoggedIn") Log Out
          a.link--accent([routerLink]="['/login']", *ngIf="!user.isLoggedIn") Log In
        li.nav-item(*ngIf="!mobileCollapsed && institutionObj")
          | Institution: {{ institutionObj.shortName ? institutionObj.shortName : institutionObj.institutionName }}
ang-delete-ig-modal(*ngIf="deleteIgModal", (closeModal)="deleteIgModal = false", [ig]="ig", [igId]="route.snapshot.params.igId", [igName]="route.snapshot.params.name")
ang-new-ig-modal(*ngIf="showImageGroupModal", [copyIG]="copyIG", [editIG]="editIG", [ig]="ig", (igReloadTriggered)="reloadIG()", (closeModal)="showImageGroupModal = false")
ang-share-link-modal(*ngIf="showShareLinkModal", [asset]="selectedAssets[0]", (closeModal)="showShareLinkModal = false")
ang-add-to-group(*ngIf="showAddToGroupModal", (closeModal)="showAddToGroupModal = false")
ang-share-ig-link(*ngIf="showShareIgModal", [ig]="ig", (closeModal)="showShareIgModal = false")
ang-confirm-modal(*ngIf="showConfirmationModal", (closeModal)="closeConfirmationModal($event)", [title]="'Delete Selected Asset(s)'",
  [description]="'Are you sure you want to delete ' + _assets.getSelectedAssets().length + ' selected image(s) from the group? <br><b>Image group name: ' +  ig.name + '</b>'",
  [dismiss]="'Cancel'",
  [primary]="'Yes'")
