.container.main-content
  .row
    .col-sm-6
      .card.card--light
        .card-header
          h1#loginHeading {{ copyBase + 'LOGIN.REG_LOGIN.HEADING' | translate }}
        .card-body
          ang-login-form#mainContent(tabindex="-1")
          a#linkLoginResetModal((click)="showPwdModal = true" tabindex="0" class="link" data-automation-component="artstor-pw-reset-link") {{ 'LOGIN.REG_LOGIN.FORGOT_PW_PROMPT' | translate }}
          br
          div(*ngIf="showRegister")
            a.link([routerLink]="['/register']") {{ 'LOGIN.REGISTER_PROMPT' | translate }}
            br
          a.link([attr.href]="'LOGIN.REG_LOGIN.LOGIN_HELP_LINK' | translate" target="_blank" data-automation-component="artstor-login-help-link") {{ 'LOGIN.REG_LOGIN.LOGIN_HELP_PROMPT' | translate }}
        .block-right
          a.link((click)="showHelpModal = true" tabindex="0" data-automation-component="artstor-access-help-link") {{ 'LOGIN.ACCESS_PROMPT' | translate }}
    .col-sm-6(*ngIf="_app.config.showInstitutionalLogin")
      .card.card--v-pad
        .card-header
          h1#institutionHeading {{ 'LOGIN.INSTITUTION_LOGIN.HEADING' | translate }}
        .card-body
          .form-group
            label {{ 'LOGIN.INSTITUTION_LOGIN.SELECT_LABEL' | translate }}
            ng2-completer(
              [(ngModel)]="loginInstName",
              (keyup)="sortInstitution($event)",
              [datasource]="dataService",
              [minSearchLength]="0",
              [openOnFocus]="true",
              [placeholder]="'Type to search...'",
              [textSearching]="'Searching Institutions...'",
              [clearUnselected]="true",
              name="institutionSelector"
            )
            .login-errorMsg(*ngIf="instErrorMsg") {{ instErrorMsg | translate }}
          .form-group
            p.notranslate([innerHtml]="'LOGIN.TERMS' | translate")
            p.small {{ 'LOGIN.INSTITUTION_LOGIN.LIST_INFO' | translate }}
          .form-group
            button#btnLoginProxy.btn.btn-primary((click)="goToInstLogin()" type="submit" name="action" data-sc="account: institutional user log in" data-automation-component="artstor-institution-login-button")
              | {{ 'LOGIN.LOGIN_BTN' | translate }}
    .col-sm-6(*ngIf="_app.config.saharaLogin")
      .card.card--v-pad
        .card-header
          h1#saharaLoginHeading {{ copyBase + 'LOGIN.SAHARA_LOGIN.HEADING' | translate }}
        .card-body
          .form-group
            | #[a#linkLoginSaharaSS.link(tabindex="0", href="http://catalog.sharedshelf.artstor.org/login.html", target="_blank", data-automation-component="ss-login-link") Log in] to Forum
ang-pwd-reset-modal(*ngIf="showPwdModal", (closeModal)="showPwdModal = false")
#helpModal.modal([ngClass]="{'show': showHelpModal }")
  .modal-dialog
    .modal-content
      .modal-header
        h5 {{ 'ACCESS_HELP_MODAL.HEADING' | translate }}
        button.close((click)="showHelpModal = false" type="button")
          span(aria-hidden="true") &times;
      .modal-body([innerHtml]="'ACCESS_HELP_MODAL.PROMPT' | translate")
      .modal-footer
        button#btnLoginDismissHelp.btn.btn-primary((click)="showHelpModal = false") {{ 'ACCESS_HELP_MODAL.DISMISS' | translate }}