.card-block.card-text(role="link", tabindex="3", [attr.aria-label]="thumbnail.name + ', '  + thumbnail.agent + ', ' + thumbnail.date", [attr.id]="('item-' + thumbnail.id)", [ngClass]="{ 'reorder--asset' : arrowReorderMode }")
  .card-img-top
    //- Thumbnail Image
    img(*ngIf="src", id="{{thumbnail.id}}", [class.disablePointerEvents]="reorderMode", [attr.src]="src", (error)="thumbnailError()", [attr.alt]="thumbnailAlt", [attr.title]="thumbnailAlt", role="img")
  .metadata-wrap
    //- Asset "tombstone" metadata display (Title, Creator, Date)
    span.asset-title(*ngIf="thumbnail.name", title="{{ thumbnail.name }}", [innerHTML]="thumbnail.name", aria-hidden="true")
    span.asset-agent(*ngIf="thumbnail.agent", title="{{ thumbnail.agent }}", [innerHTML]="thumbnail.agent", aria-hidden="true")
    span.asset-date(*ngIf="thumbnail.date", title="{{ thumbnail.date }}", [innerHTML]="thumbnail.date", aria-hidden="true")
  .card-icon-group((click)="$event.stopPropagation(); $event.preventDefault();", [ngClass]="{ 'disablePointerEvents': editMode }")
    ang-collection-badge([collectionType]="thumbnail.collectionTypeInfo")
    .float-right
      //- IAP Icon - Is this part of Images for Academic Publishing
      i.icon.icon-iap(
        *ngIf="thumbnail.iap",
        tabindex="3",
        role="button",
        [ngbTooltip]="iapTooltip",
        triggers="focusin:focusout mouseenter:mouseleave",
        placement="right"
        title="Images for academic publishing icon.",
      )
      <ng-template #iapTooltip>
        div Images for Academic Publishing
      </ng-template>
      //- Clustered asset (has Duplicates and Details)
      i.icon.icon-cluster(
        *ngIf="thumbnail.partofcluster",
        (click)="openLink($event, ['/cluster', thumbnail.clusterid, { objTitle :  thumbnail.name }])",
        title="View related media button icon. Press enter to click this button",
        tabIndex="3",
        (keyup.enter)="openLink($event, ['/cluster', thumbnail.clusterid, { objTitle :  thumbnail.name }])"
      )
      //- Associated or "Grouped with" assets
      i.icon.icon-collab(
        *ngIf="thumbnail.frequentlygroupedwith && thumbnail.frequentlygroupedwith.length > 0",
        (click)="openLink($event, ['/associated', thumbnail.id])",
        title="Others are also interested in button icon. Press enter to click this button",
        tabIndex="3",
        (keyup.enter)="openLink($event, ['/associated', thumbnail.artstorid])"
      )
      //- Media type icon (w/ tooltip)
      i.icon(
        *ngIf="thumbnail.objectTypeId && (thumbnail.objectTypeId != 10) && (multiviewItemCount <= 1)",
        [ngClass]="[ mouseOverMedia ? 'icon-' + (thumbnail.objectTypeId | typeIdPipe) + '-hover' : 'icon-' + (thumbnail.objectTypeId | typeIdPipe) ]",
        (mouseover)="mouseOverMedia=true",
        (mouseout)="mouseOverMedia=false",
        [ngbTooltip]="mediaTooltip",
        triggers="focusin:focusout mouseenter:mouseleave",
        placement="right"
      )
      <ng-template #mediaTooltip>
        div {{thumbnail.objectTypeId | typeIdPipe:true }}
      </ng-template>
      //- Detail view icon
      i.icon(
        *ngIf="thumbnail.zoom",
        [ngClass]="[ mouseOverDetailIcon ? 'icon-detail-view-hover' : 'icon-detail-view' ]",
        [ngbTooltip]="tipDetailView",
        ngbTooltip,
        triggers="focusin:focusout mouseenter:mouseleave",
        placement="right",
        aria-haspopup="true",
        tabIndex="3",
        (mouseover)="mouseOverDetailIcon=true",
        (mouseout)="mouseOverDetailIcon=false"
        title="Detail view button icon. Press enter to click this button and go to the asset detail",
      )
      //- Multi view icon
      .multiview-indicator(
        *ngIf="multiviewItemCount > 1",
        [ngbTooltip]="tipMultiView",
        ngbTooltip,
        triggers="focusin:focusout mouseenter:mouseleave",
        placement="right",
        aria-haspopup="true",
        title="See multiview items button icon. Press enter to click this button",
        tabIndex="3", role="button"
      )
      i.icon(
        [ngClass]="[ mouseOverMultiview ? 'icon-multiview-hover' : 'icon-multiview' ]",
        (mouseover)="mouseOverMultiview=true",
        (mouseout)="mouseOverMultiview=false"
      )
      span.multiview-count {{multiviewItemCount}}

    <ng-template #tipMultiView>
      div This item has <br> multiple views
    </ng-template>
    <ng-template #tipDetailView>
      div This is a saved <br> detail of the <br> original image
    </ng-template>
