.card-block.card-text(tabindex="3", [attr.aria-label]="thumbnail.tombstone && thumbnail.tombstone.length > 0 ? thumbnail.tombstone.join(', ') : thumbnail.name + ', '  + thumbnail.agent + ', ' + thumbnail.date", [attr.id]="('item-' + itemIndex)", [ngClass]="{ 'reorder--asset' : arrowReorderMode }")
  .card-img-top
    img(*ngIf="thumbnail.status != 'not-available' && thumbnail.zoom", id="{{thumbnail.artstorid}}", [class.disablePointerEvents]="reorderMode", [attr.src]="_search.makeDetailViewThmb(thumbnail)", (error)="thumbnailError()", [attr.alt]="thumbnailAlt", [attr.title]="thumbnailAlt", aria-role="image")
    img(*ngIf="thumbnail.status != 'not-available' && !thumbnail.zoom", id="{{thumbnail.artstorid}}", [class.disablePointerEvents]="reorderMode", [attr.src]="isMultiView && !reorderMode ? thumbnail.thumbnailImgUrl : _search.makeThumbUrl(thumbnail.thumbnailImgUrl, thumbnailSize, isMultiView)", (error)="thumbnailError()", [attr.alt]="thumbnailAlt", [attr.title]="thumbnailAlt", aria-role="image")
  .metadata-wrap
    //- New Asset display
    span.asset-title(*ngIf="thumbnail.name", title="{{ thumbnail.name }}", [innerHTML]="thumbnail.name", aria-hidden="true")
    span.asset-agent(*ngIf="thumbnail.agent", title="{{ thumbnail.agent }}", [innerHTML]="thumbnail.agent", aria-hidden="true")
    span.asset-date(*ngIf="thumbnail.date", title="{{ thumbnail.date }}", [innerHTML]="thumbnail.date", aria-hidden="true")
    //- Old asset display
    span.asset-title(*ngIf="thumbnail.thumbnail1", title="{{ thumbnail.thumbnail1 }}", [innerHTML]="thumbnail.thumbnail1")
    span.asset-agent.notranslate(*ngIf="thumbnail.thumbnail2", title="{{ thumbnail.thumbnail2 }}", [innerHTML]="thumbnail.thumbnail2")
    span.asset-date(*ngIf="thumbnail.thumbnail3", title="{{ thumbnail.thumbnail3 }}", [innerHTML]="thumbnail.thumbnail3")
    span(*ngIf="thumbnail.thumbnail4", title="{{ thumbnail.thumbnail4 }}", [innerHTML]="thumbnail.thumbnail4")
    //- Schema moving forward
    ng-container(*ngFor="let data of thumbnail.tombstone")
      span(*ngIf="data", [innerHtml]="data")
  .card-icon-group((click)="$event.stopPropagation(); $event.preventDefault();", [ngClass]="{ 'disablePointerEvents': editMode }")
    ang-collection-badge([collectionType]="getCollectionType()")
    .float-right
      //- Legacy Service icons
      i.icon.icon-collab(*ngIf="thumbnail.cfObjectId && thumbnail.cfObjectId.length > 0", [id]="thumbnail.objectId + '_associated_images'", (click)="openLink($event, ['/associated', thumbnail.artstorid ? thumbnail.artstorid : thumbnail.objectId])" title="Others are also interested in button icon. Press enter to click this button", (keyup.enter)="openLink($event, ['/associated', thumbnail.artstorid])", tabindex="3", aria-role="button")
      i.icon.icon-cluster(*ngIf="thumbnail.clustered == 1", [id]="thumbnail.objectId + '_clustered_images'", (click)="openLink($event, ['/cluster', thumbnail.objectId, { objTitle :  thumbnail.thumbnail1 }])", title="View related media button icon. Press enter to click this button", (keyup.enter)="openLink($event, ['/cluster', thumbnail.objectId, { objTitle :  thumbnail.thumbnail1 }])", tabindex="3", aria-role="button")
      //- IAP Icon
      i.icon.icon-iap(
        *ngIf="thumbnail.iap", 
        tabindex="3", 
        aria-role="button",
        [ngbTooltip]="iapTooltip",
        triggers="focusin:focusout mouseenter:mouseleave",
        placement="right"
        )
        <ng-template #iapTooltip>
          div Images for Academic Publishing
        </ng-template>
      //- New search icons
      i.icon.icon-cluster(
        *ngIf="thumbnail.partofcluster",
        (click)="openLink($event, ['/cluster', thumbnail.clusterid ? thumbnail.clusterid : thumbnail.artstorid, { objTitle :  thumbnail.name }])",
        title="View related media button icon. Press enter to click this button",
        tabIndex="3",
        (keyup.enter)="openLink($event, ['/cluster', thumbnail.clusterid ? thumbnail.clusterid : thumbnail.artstorid, { objTitle :  thumbnail.name }])"
      )
      i.icon.icon-collab(*ngIf="thumbnail.frequentlygroupedwith && thumbnail.frequentlygroupedwith.length > 0", (click)="openLink($event, ['/associated', thumbnail.artstorid ? thumbnail.artstorid : thumbnail.objectId])", title="Others are also interested in button icon. Press enter to click this button", tabIndex="3", (keyup.enter)="openLink($event, ['/associated', thumbnail.artstorid])")
      //- ang-collection-badge([collectionType]="getCollectionType()", tabIndex="3")
      i( *ngIf="thumbnail.media && thumbnail.media.adlObjectType && thumbnail.media.adlObjectType != 10", 
          class="icon icon-{{thumbnail.media.adlObjectType | typeIdPipe}}",
          [ngbTooltip]="mediaTooltip",
          triggers="focusin:focusout mouseenter:mouseleave",
          placement="right"
        )
        <ng-template #mediaTooltip>
          div {{thumbnail.media.adlObjectType | typeIdPipe:true }}
        </ng-template>
      i( *ngIf="!thumbnail.media && thumbnail.objectTypeId && thumbnail.objectTypeId != 10", class="icon icon-{{thumbnail.objectTypeId | typeIdPipe}}")
      //- Detail view icon
      i.icon(*ngIf="thumbnail.zoom", [ngClass]="[ mouseOverDetailIcon ? 'icon-detail-hover' : 'icon-detail' ]", [ngbTooltip]="tipDetailView", ngbTooltip, triggers="focusin:focusout mouseenter:mouseleave", placement="right", aria-haspopup="true", tabIndex="3", (mouseover)="mouseOverDetailIcon=true", (mouseout)="mouseOverDetailIcon=false")
      
      .multiview-indicator(*ngIf="multiviewItemCount > 1", [ngbTooltip]="tipMultiView", ngbTooltip, triggers="focusin:focusout mouseenter:mouseleave", placement="right", aria-haspopup="true", title="See multiview items button icon. Press enter to click this button", tabIndex="3", aria-role="button")
        i.icon.icon-multiview
        span.multiview-count {{multiviewItemCount}}

    <ng-template #tipMultiView>
      div This item has <br> multiple views.
    </ng-template>
    <ng-template #tipDetailView>
      div This is a saved <br> detail of the <br> original image
    </ng-template>
