.pagination([class.right]="right")
  li.page-item
    button.page-link((click)="goToPage.emit(1)", [disabled]="!pageObj.page || pageObj.page <= 1", (keyup.enter)="goToPage.emit(1)", tabindex="3", aria-label="Go to first page of results", (focus)="paginationFocused.emit()")
      span(aria-hidden="true") |&#10094;
  li.page-item
    button.page-link((click)="goToPage.emit(pageObj.page - 1)", [disabled]="!pageObj.page || pageObj.page <= 1", (keyup.enter)="goToPage.emit(pageObj.page - 1)", tabindex="3", aria-label="Go to previous page of results", (focus)="paginationFocused.emit()")
      span(aria-hidden="true") &#10094;
  li.page-item
    input.page-input([attr.aria-label]="'Page ' + pageObj.page + ' of ' + pageObj.totalPages", type="number", min="1", (keypress)="pageNumberKeyPress($event)", (keyup)="pageNumberKeyUp($event)", [(ngModel)]="pageObj.page", (keyup.enter)="goToPage.emit(pageObj.page)", tabindex="3", (focus)="paginationFocused.emit()")
    = " "
    span.page-info of {{ pageObj.totalPages }}
  li.page-item
    button.page-link((click)="goToPage.emit(pageObj.page + 1)", [disabled]="!pageObj.page || pageObj.page >= pageObj.totalPages", (keyup.enter)="goToPage.emit(pageObj.page + 1)", tabindex="3", aria-label="Go to next page of results")
      span(aria-hidden="true") &#10095;
  li.page-item(*ngIf="!solrFlag")
    button.page-link((click)="goToPage.emit(pageObj.totalPages)", [disabled]="!pageObj.page || pageObj.page >= pageObj.totalPages", (keyup.enter)="goToPage.emit(pageObj.totalPages)", tabindex="3", aria-label="Go to last page of results")
      span(aria-hidden="true") &#10095;|
