.modal.show
  .modal-dialog(role="document")
    .modal-content(@slideIn)
      .modal-header
        button.close(type="button",
        (click)="closeAji()",
        aria-label="Close",
        id="aji-close",
        data-sc="aji-intercept-close")
          span(aria-hidden="true") &times;
      .modal-body
        img(src="/assets/img/artstor-jstor-logo.svg", alt="Artstor JSTOR Logo")
        div.separator-container
          div(class="aji-separator-left")
          div(class="aji-separator-right")
        div([innerHtml]="'Artstor is moving to JSTOR' | translate", tabindex="0", class="main-callout")
        div.main-text
          span([innerHtml]="'Teach with images by ' | translate")
          a.link((click)="copyGroups()", [innerHtml]="'copying your image groups' | translate")
          span([innerHtml]="' or start a search on JSTOR.' | translate")
      .modal-footer.flex-column
        button.primary(
          (click)="tryItNow()", type="button",
          [attr.aria-label]="'Try searching now' | translate",
          [innerHtml]="'Try searching now' | translate",
          id="aji-try-now",
          data-sc="aji-intercept-try-now"
        )
        button.secondary(
          (click)="remindMeLater()", type="button",
          [attr.aria-label]="'Remind me later' | translate",
          [innerHtml]="'Remind me later' | translate",
          id="aji-remind-me-later",
          data-sc="aji-intercept-remind-me-later"
        )
