.modal.show
  .modal-dialog(role="document")
    .modal-content(@slideIn)
      .modal-header
        button.close(type="button",
        (click)="closeAji()",
        aria-label="Close",
        id="aji-close",
        data-sc="aji-intercept-close")
          span(aria-hidden="true") &times;
      .modal-body
        img.artstor-jstor-logo(src="/assets/img/Artstor_JSTOR.svg", alt="Artstor JSTOR Logo")
        div.separator-container
          div(class="aji-separator-left")
          div(class="aji-separator-right")
        div([innerHtml]="'Artstor is now on JSTOR' | translate", tabindex="0", class="main-callout")
        div.main-text
          span([innerHtml]="'The Artstor website will be retired on August 1st.' | translate").first-callout
          span([innerHtml]="' You can find all of the same content and more on JSTOR.' | translate")
      .modal-footer.flex-column
        button.primary(
          (click)="tryItNow()", type="button",
          [attr.aria-label]="'Search for images on JSTOR' | translate",
          [innerHtml]="'Search for images on JSTOR' | translate",
          id="aji-try-now",
          data-sc="aji-intercept-try-now"
        )
