.modal.show
  .modal-dialog(role="document")
    .modal-content(@slideIn)
      .modal-header
        button.close(type="button",
        (click)="closeAji()",
        aria-label="Close",
        id="aji-close",
        data-sc="aji-intercept-close")
          span(aria-hidden="true") &times;
      .modal-body
        img.artstor-jstor-logo(src="/assets/img/Artstor_JSTOR.svg", alt="Artstor JSTOR Logo")
        div.separator-container
          div(class="aji-separator-left")
          div(class="aji-separator-right")
        div([innerHtml]="'Artstor is now on JSTOR' | translate", tabindex="0", class="main-callout")
        div.main-text
          span([innerHtml]="'The Artstor website will be retired on August 1st, 2024.' | translate").first-callout
          span([innerHtml]="' Artstor&apos;s high-quality collections and key functionality are now on JSTOR. If you have image groups on Artstor, they will be automatically copied over to your ' | translate")
          a.link(href="https://support.jstor.org/hc/en-us/articles/360007226454-Workspace-Introduction-to-Workspace", target="_blank", [innerHtml]="'JSTOR Workspace' | translate")
          span([innerHtml]="' in February 2024.' | translate")
      .modal-footer.flex-column
        button.primary(
          (click)="tryItNow()", type="button",
          [attr.aria-label]="'Learn more about Artstor on JSTOR' | translate",
          [innerHtml]="'Learn more about Artstor on JSTOR' | translate",
          id="aji-try-now",
          data-sc="aji-intercept-try-now"
        )
