#genImgURL.modal.fade.show(tabindex="0")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h1#share-img-link-title(tabindex="0", (keydown.shift.tab)="closeModal.emit()") {{ 'SHARE_IMG_LINK_MODAL.MAIN_HEADING' | translate }}
        button.close(type="button", (click)="closeModal.emit()", data-dismiss="modal", aria-label="Close", tabindex="0")
          span(aria-hidden="true") &times;
      .modal-body(*ngIf="asset")
        .media
          .media-body
            .asset-title([innerHTML]="asset.name")
            .imgURL-gen-info {{ 'SHARE_IMG_LINK_MODAL.DESC' | translate }}
          img.d-flex.align-self-center.ml-3([attr.src]="_search.makeThumbUrl(asset.thumbnailImgUrl, 0)", [attr.alt]="asset.name")
        .pt-3
          .pb-3
            label {{ 'SHARE_IMG_LINK_MODAL.IMG_URL_LBL' | translate }}
            .value
              textarea#copyURL(#copyURL="", readonly, [attr.aria-label]="'SHARE_IMG_LINK_MODAL.TEXTAREA_URL_ARIA_LABEL' | translate", tabindex="0") {{ shareLink }}
            .copy-clipboard((click)="copyTexttoClipBoard('copyURL'); copyURL.select()", tabindex="0", (keyup.enter)="copyTexttoClipBoard('copyURL'); copyURL.select()")
              | {{ 'SHARE_IMG_LINK_MODAL.COPY_TO_CLIPBOARD' | translate }}
            .copy-status-msg {{ copyURLStatusMsg }}
          .pb-3
            label {{ 'SHARE_IMG_LINK_MODAL.THMB_LNK_IMG_LBL' | translate }}
            .value
              textarea#copyHTML(#copyHTML="", readonly, [attr.aria-label]="'SHARE_IMG_LINK_MODAL.TEXTAREA_HTML_ARIA_LABEL' | translate", tabindex="0") {{ '<a target="_blank" href="' + shareLink + '"><img src="' + _search.makeThumbUrl(asset.thumbnailImgUrl, 0) + '"  alt="' + asset.name + '" title="' + asset.name + '" /></a>' }}
            .copy-clipboard((click)="copyTexttoClipBoard('copyHTML'); copyHTML.select()", tabindex="0", (keyup.enter)="copyTexttoClipBoard('copyHTML'); copyHTML.select()")
              | {{ 'SHARE_IMG_LINK_MODAL.COPY_TO_CLIPBOARD' | translate }}
            .copy-status-msg {{ copyHTMLStatusMsg }}
      .modal-footer
        button.btn.btn-link.with-pad((click)="showHelp()", tabindex="0") {{ 'SHARE_IMG_LINK_MODAL.HELP' | translate }}
        button.btn.btn-primary((click)="closeModal.emit()", tabindex="0", (keydown.tab)="$event.stopPropagation(); $event.preventDefault(); startModalFocus()") {{ 'SHARE_IMG_LINK_MODAL.CLOSE' | translate }}
