header.navbar.navbar-light(*ngIf="!_fullscreen.isFullscreen")
  .container(style="padding:0px;")
    .row.fit
      .col-8
        a.navbar-brand([routerLink]="['/home']" tabindex="1")
          .mobile--hide
            img#logo.hidden-xs-down([attr.src]="logoUrl" alt="Artstor logo")
          .mobile--show
            img#logoMobile.hidden-sm-up(src="/assets/img/logo-square.png" alt="Artstor logo")
        pharos-tooltip(*ngIf="showAppliedFlags", placement="bottom", tabindex="1")
          .btn.btn--icon(slot="target")
            .icon.icon-flag
          div(slot="content")
            | Applied Flags:<br/>
            p(*ngFor="let flagKey of appliedFlags") {{ flagKey }}
      .col-4
        .login-panel(*ngIf="showLoginPanel")
          .vertical-center-wrap
            .login-panel__status(*ngIf="user.isLoggedIn")
              h2.hidden Login Panel
              #navMessageWelcome Welcome, {{ user.username ? user.username : ''}}
              #navMessageInstitution.login-panel__institution(*ngIf="institutionObj.displayName || institutionObj.institutionName") Access provided by {{ institutionObj.displayName ? institutionObj.displayName : institutionObj.institutionName }}
              .login-panel__links
                a.link--accent#nav-setting([routerLink]=" ['./account'] " routerLinkActive="active" tabindex="1") Settings
                a.link--accent#nav-logout((click)="logout()", (keydown.enter)="logout()", tabindex="1") Log Out
            .login-panel__status(*ngIf="!user.isLoggedIn")
              b(*ngIf="_auth.isPublicOnly()") Welcome to Artstor's public collections!
              #navMessageInstitution.login-panel__institution(*ngIf="!_auth.isPublicOnly() && (institutionObj.displayName || institutionObj.institutionName)") Access provided by {{ institutionObj.displayName ? institutionObj.displayName : institutionObj.institutionName }}
              .login-panel__with-tooltip
                div(*ngIf="!ipAuthed", class="login-panel__tooltip-container")
                  button.btn.btn-primary#nav-login((click)="trackLoginButtonClick(); navigateAndSaveRoute('/login')", (keydown.enter)="trackLoginButtonClick(); navigateAndSaveRoute('/login')", tabindex="1") Log in
                  ang-promo-tooltip(*ngIf="!hideLoginTooltip", class="login-panel__tooltip", [options]="loginTooltipOptions", (close)="closeLoginTooltip()")
                ng-container(*ngIf="ipAuthed")
                  a.link#nav-login((click)="navigateAndSaveRoute('/login')", (keydown.enter)="navigateAndSaveRoute('/login')", tabindex="1") Log in
                  span &nbsp;or&nbsp;
                  a.link#nav-register((click)="navigateAndSaveRoute('/register')", (keydown.enter)="navigateAndSaveRoute('/register')", tabindex="1") Register
                span(*ngIf="_auth.isPublicOnly()") &nbsp;to access the core collections.
                span(*ngIf="user.status && !user.isLoggedIn") &nbsp;to save images
.toast-stack
  ng-container(*ngFor="let toast of toasts")
    ang-toast([toast]="toast", [dismiss]="toast.dismiss")
ang-session-expire-modal(*ngIf="showinactiveUserLogoutModal && allowExpiredModal" "(closeModal)"="inactiveUsrLogOut()")
