.modal.fade-in
  .modal-dialog(role="dialog", (keydown.esc)="closeModal.emit()")
    .modal-content
      .modal-header
        h4.modal-title#ig-download-title(tabindex="0") {{ 'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.TITLE' | translate }}
        button.close#ig-modal-close((click)="closeModal.emit()", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        div([innerHtml]="'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.TEXT' | translate")
        .alert.alert-danger(*ngIf="!(isLoading || zipLoading || downloadLink || zipDownloadLink) && error && ig.total>100", style="margin:0;", [innerHtml]="'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.DOWNLOAD_ERROR_BIG' | translate")
        .alert.alert-danger(*ngIf="!(isLoading || zipLoading || downloadLink || zipDownloadLink) && error && ig.total<=100", style="margin:0;", [innerHtml]="'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.DOWNLOAD_ERROR_SMALL' | translate")
      .modal-footer
        button.btn.btn-secondary((click)="closeModal.emit()") Cancel
        button#generatePowerpointLink.btn.btn-primary(*ngIf="!downloadLink  && !isLoading", (click)="getPPT()") Request PPT
        a#downloadPowerpointLink.btn.btn-primary(*ngIf="!isLoading && downloadLink", role="button",
          [attr.href]="downloadLink",
          [attr.download]="downloadTitle",
          (click)="trackDownload('PPT'); closeModal.emit()")
          | Download PPT
        button.btn.btn-primary(*ngIf="isLoading", disabled)
          | Generating PPT
          i.icon.icon-loading
        button#generateZipLink.btn.btn-primary(*ngIf="!zipDownloadLink && !zipLoading", (focusout)="startModalFocus()", (click)="getZip()") Request Zip
        a#downloadZipLink.btn.btn-primary(*ngIf="!zipLoading && zipDownloadLink", role="button",
          [attr.href]="zipDownloadLink",
          [attr.download]="downloadTitle",
          (focusout)="startModalFocus()",
          (click)="trackDownload('ZIP'); closeModal.emit()")
          | Download Zip
        button.btn.btn-primary(*ngIf="zipLoading", disabled)
          | Generating Zip
          i.icon.icon-loading
