.modal.fade-in(tabindex="0")
  .modal-dialog(role="dialog", (keydown.esc)="hideModal($event)")
    .modal-content
      .modal-header
        h4.modal-title#ig-download-title(tabindex="0", (keydown.shift.tab)="hideModal($event)") {{ 'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.TITLE' | translate }}
        button.close#ig-modal-close((click)="hideModal($event)", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        div([innerHtml]="'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.TEXT' | translate")
        .alert.alert-danger(*ngIf="!(isLoading || zipLoading || downloadLink || zipDownloadLink) && error && ig.total>100", style="margin:0;", [innerHtml]="'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.DOWNLOAD_ERROR_BIG' | translate")
        .alert.alert-danger(*ngIf="!(isLoading || zipLoading || downloadLink || zipDownloadLink) && error && ig.total<=100", style="margin:0;", [innerHtml]="'IMAGE_GROUP_PAGE.IG_DOWNLOAD_MODAL.DOWNLOAD_ERROR_SMALL' | translate")
      .modal-footer
        button.btn.btn-secondary((click)="hideModal($event)") Cancel
        button#generatePowerpointLink.btn.btn-primary(*ngIf="!downloadLink  && !isLoading", (click)="getPPT()", aria-label="Request Powerpoint") Request PPT
        a#downloadPowerpointLink.btn.btn-primary(*ngIf="!isLoading && downloadLink", role="button",
          [attr.href]="downloadLink",
          [attr.download]="downloadTitle",
          (click)="trackDownload('PPT'); hideModal($event)",
          aria-label="Download PowerPoint")
          | Download PPT
        button.btn.btn-primary(*ngIf="isLoading", disabled)
          | Generating PPT
          i.icon.icon-loading
        button#generateZipLink.btn.btn-primary(*ngIf="!zipDownloadLink && !zipLoading", (keydown.tab)="$event.stopPropagation(); $event.preventDefault(); startModalFocus()", (click)="getZip()") Request Zip
        a#downloadZipLink.btn.btn-primary(*ngIf="!zipLoading && zipDownloadLink", role="button",
          [attr.href]="zipDownloadLink",
          [attr.download]="downloadTitle",
          (keydown.tab)="$event.stopPropagation(); $event.preventDefault(); startModalFocus()",
          (click)="trackDownload('ZIP'); hideModal($event)")
          | Download Zip
        button.btn.btn-primary(*ngIf="zipLoading", disabled)
          | Generating Zip
          i.icon.icon-loading
