.modal.fade.show
  .modal-dialog([ngClass]="{ 'edit-mode': editMode }", role="document")
    .modal-content
      .modal-header
        h5.modal-title {{ 'EDIT_PC_MODAL.TITLE' | translate }}
        a.btn.btn-link.help(href="http://support.artstor.org/?article-category=09-using-your-own-images", target="_blank") {{ 'EDIT_PC_MODAL.HELP' | translate }}
        button.close((click)="closeModal.emit()", type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        .row.no-gutters
          .thmb-cntnr([ngClass]="{ 'col-md-6': editMode, 'col-md-12': !editMode }")
            .lbl {{ 'EDIT_PC_MODAL.EDIT_COL' | translate }}
              .thumb-preview-cntnr
                .row.no-gutters
                  //- .col-md-4.thumb([ngClass]="{ 'selected': selectedAsset && (selectedAsset.objectId === thumb.objectId) }", *ngFor="let thumb of pcColThumbs")
                  //-   img([attr.src]="'nothing here rn'", [attr.alt]="thumb.thumbnail1 ? 'Thumbnail of ' + thumb.thumbnail1 : 'No title available'")
                  //-   .thumb-overlay
                  //-     .close-icon(*ngIf="selectedAsset && (selectedAsset.objectId === thumb.objectId)", (click)="clearSelectedAsset()") &times;
                  //-     .edit-icon((click)="editAssetMeta( thumb )")
                  //-       i.icon.icon-reorder-white([ngClass]="{ 'active': selectedAsset && (selectedAsset.objectId === thumb.objectId) }")
                  .col-md-4.thumb([ngClass]="{ 'selected': selectedAsset && (selectedAsset.artstorid === asset.artstorid) }", *ngFor="let asset of collectionAssets")
                    img([attr.src]="'nothing here rn'", [attr.alt]="asset.name ? 'Thumbnail of ' + asset.name : 'No title available'")
                    .thumb-overlay
                      .close-icon(*ngIf="selectedAsset && (selectedAsset.artstorid === asset.artstorid)", (click)="clearSelectedAsset()") &times;
                      .edit-icon((click)="editAssetMeta( asset )")
                        i.icon.icon-reorder-white([ngClass]="{ 'active': selectedAsset && (selectedAsset.artstorid === thumb.artstorid) }")
              .info-lbl {{ 'EDIT_PC_MODAL.META_ADD_INFO' | translate }}
          .edit-cntnr.col-md-6(*ngIf="editMode")
            label.asset-hdr {{ selectedAsset.thumbnail1 }}
            form#editAssetMetaForm([formGroup]="editAssetMetaForm", (ngSubmit)="editMetaFormSubmit(editAssetMetaForm.value)")
              .form-group
                label(for="assetCreatorInput") {{ 'EDIT_PC_MODAL.FORM.CREATOR' | translate }}
                input#assetCreatorInput.form-control(type="text", [formControl]="editAssetMetaForm.controls['creator']", tabindex="0")
              .form-group
                label(for="assetTitleInput") {{ 'EDIT_PC_MODAL.FORM.TITLE' | translate }}
                input#assetTitleInput.form-control(type="text", [formControl]="editAssetMetaForm.controls['title']", tabindex="1")
              .form-group
                label(for="assetWrkTypInput") {{ 'EDIT_PC_MODAL.FORM.WRK_TYP' | translate }}
                input#assetWrkTypInput.form-control(type="text", [formControl]="editAssetMetaForm.controls['work_type']", tabindex="2")
              .form-group
                label(for="assetDateInput") {{ 'EDIT_PC_MODAL.FORM.DATE' | translate }}
                input#assetDateInput.form-control(type="text", [formControl]="editAssetMetaForm.controls['date']", tabindex="3")
              .form-group
                label(for="assetLocInput") {{ 'EDIT_PC_MODAL.FORM.LOCATION' | translate }}
                input#assetLocInput.form-control([formControl]="editAssetMetaForm.controls['location']", tabindex="4")
              .form-group
                label(for="assetMatInput") {{ 'EDIT_PC_MODAL.FORM.MATERIAL' | translate }}
                input#assetMatInput.form-control(type="text", [formControl]="editAssetMetaForm.controls['material']", tabindex="5")
              .form-group
                label(for="assetDescInput") {{ 'EDIT_PC_MODAL.FORM.DESCRIPTION' | translate }}
                input#assetDescInput.form-control(type="text", [formControl]="editAssetMetaForm.controls['description']", tabindex="6")
              .form-group
                label(for="assetSubjectInput") {{ 'EDIT_PC_MODAL.FORM.SUBJECT' | translate }}
                input#assetSubjectInput.form-control(type="text", [formControl]="editAssetMetaForm.controls['subject']", tabindex="7")
        .modal-footer
          .form-group
            button.btn.btn-danger(*ngIf="selectedAsset && selectedAsset.objectId", (click)="deleteSelectedAsset(selectedAsset.objectId)", type="button") {{ 'EDIT_PC_MODAL.BUTTONS.DELETE' | translate }}
            button.btn.btn-secondary(*ngIf="selectedAsset && selectedAsset.objectId", (click)="clearSelectedAsset()", type="button") {{ 'EDIT_PC_MODAL.BUTTONS.CLOSE' | translate }}
            button.btn.btn-primary(type="button") {{ 'EDIT_PC_MODAL.BUTTONS.SAVE' | translate }}
