#pwd-modal.modal.fade.show
  // Pwd Reset Modal
  .modal-dialog
    .modal-content
      .modal-header
        h5 {{ copyKey+'.HEADING' | translate }}
        button((click)="closeModal.emit()", type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      form#pwdResetForm([formGroup]="pwdResetForm", (ngSubmit)="sendResetPwdRequest()")
        .modal-body
          div(*ngIf="pwdReset")
            p {{ copyKey+'.PROMPT' | translate }}
            .form-group
              label(for="pwdresetEmailInput") {{ copyKey+'.LABEL' | translate }}
              input#pwdresetEmailInput.form-control(type="text", [formControl]="pwdResetForm.controls['email']", (value)="username", spellcheck="false", tabindex="0")
          .has-danger(*ngIf="submitted && pwdResetForm.controls['email'].invalid && !errorMsgPwdRst && !successMsgPwdRst")
            p.form-control-feedback A valid email is required
          .form-control-feedback.has-danger(*ngIf="errorMsgPwdRst")
            p.form-control-feedback {{ errorMsgPwdRst }}
          .has-success(*ngIf="successMsgPwdRst")
            p.form-control-feedback {{ successMsgPwdRst }}
          .form-group(*ngIf="systemRequest")
            p.small 
              | Need help logging in? <a href="mailto:support@artstor.org" class="link">Contact Support</a>
        .modal-footer
          .form-group(*ngIf="pwdReset")
            button.btn.btn-secondary(
                *ngIf="!systemRequest"
                type="button", 
                (click)="closeModal.emit()"
              ) Cancel
            = " "
            button.btn.btn-primary(type="submit", [class.loading]="isLoading") Submit
          .form-group(*ngIf="successMsgPwdRst")
            button.btn.btn-secondary(type="button", (click)="closeModal.emit()") Ok
