#pwd-modal.modal.fade.show
  //- Password Reset Modal
  .modal-dialog((keydown.esc)="closeModal.emit()")
    .modal-content
      .modal-header
        h5(#pwdResetTitle, (keydown.shift.tab)="focusElement(closeIcon, $event)", tabindex="1") {{ copyKey+'.HEADING' | translate }}
        button(#closeIcon, (keydown.tab)="focusElement(pwdResetTitle, $event)", (click)="closeModal.emit()", type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      form#pwdResetForm([formGroup]="pwdResetForm", (ngSubmit)="sendResetPwdRequest()")
        .modal-body(*ngIf="!successMsgPwdRst")
          div(*ngIf="pwdReset")
            p.modal-prompt {{ copyKey+'.PROMPT' | translate }}
            .form-group
              label(for="pwdresetEmailInput") {{ copyKey+'.LABEL' | translate }}
              input#pwdresetEmailInput.form-control(
                [class.is-invalid]="submitted && (pwdResetForm.controls['email'].invalid || errorMsgPwdRst)",
                [class.is-valid]="pwdResetForm.controls['email'].valid && !errorMsgPwdRst",
                type="text",
                [formControl]="pwdResetForm.controls['email']",
                (value)="username",
                (keydown.tab)="focusElement(submitButton, $event)",
                (keydown.shift.tab)="focusElement(pwdResetTitle, $event)",
                placeholder="Email address",
                spellcheck="false",
                tabindex="1",
                [attr.aria-label]="copyKey+'.LABEL' | translate"
              )
              .invalid-feedback(*ngIf="submitted && pwdResetForm.controls['email'].invalid && !errorMsgPwdRst && !successMsgPwdRst") Please enter an email address
              .invalid-feedback(*ngIf="errorMsgPwdRst") {{ errorMsgPwdRst }}
          .form-group
            p.small
              | Need further help? <a #supportLink href="mailto:support@artstor.org" class="link" tabindex="1">Contact Support</a>
        //- Success Messaging
        .modal-body(*ngIf="successMsgPwdRst")
          p.modal-prompt {{ successMsgPwdRst | translate }}
        .modal-footer
          .form-group.mb-0(*ngIf="pwdReset")
            .btn-row
              button.btn.btn-secondary(
                #cancelButton,
                *ngIf="!systemRequest",
                type="button",
                (click)="closeModal.emit()",
                (keydown.tab)="focusElement(closeIcon, $event)",
                (keydown.shift.tab)="focusElement(submitButton, $event)"
              ) Cancel
              button.btn.btn-primary(
                #submitButton,
                type="submit",
                role="button",
                aria-label="submit",
                [class.loading]="isLoading",
                tabindex="1",
                (keydown.tab)="focusElement(cancelButton, $event)"
              ) Submit
          .form-group.mb-0(*ngIf="successMsgPwdRst")
            button.btn.btn-primary(
              type="button",
              (click)="closeModal.emit()",
              tabindex="1",
              (keydown.tab)="focusElement(pwdResetTitle, $event)"
            ) Close
